@font-face {
	font-family: 'Futura-Book';
	src: url('fonts/Futura-Book.eot');
	src: url('fonts/Futura-Book.woff') format('woff'), 
		url('fonts/Futura-Book.ttf') format('truetype'), 
		url('fonts/Futura-Book.svg#Futura-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura-Book';
	src: url('fonts/FuturaStd-Bold.eot');
	src: url('fonts/FuturaStd-Bold.woff') format('woff'), 
		url('fonts/FuturaStd-Bold.ttf') format('truetype'), 
		url('fonts/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}